body {
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

.container {
    display: inline-flex;
    height: 100%;
    vertical-align: top;
}

.score {
    text-align: left;
    padding: 60px 40px 0 0;
    width: 100px
}
