body {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 16pt;
}

h2 {
  text-align: left;
  padding: 60px 0 0 0;
}

.container {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    align-items: center;
    flex-direction: row;
    text-align: left;
}

.score {
    align-self: flex-start;
    padding: 0 40px 0 10px;
    width: 120px;
}

canvas {
    display: inline-flex;
}
